.container{
  max-width: 600px;
  margin: auto;
  padding: 20px;
  margin-top: 90px;

  h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--blue);
  }

  form{
    display: flex;
    flex-direction: column;

    mat-form-field{
      margin-bottom: 20px;

      .mat-form-field-wrapper{
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      .mat-form-field-outline{
        border-width: 1px;
      }

      .mat-input-element{
        color: var(--blue);
      }
    }

    button{
      align-self: center;
    }
  }
}

@media (max-width: 600px){
  .container{
    padding: 10px;

    form{
      margin-bottom: 10px;
    }
  }
}
